@font-face {
  font-family: 'NanumNaNeunIGyeoNaenDa';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumNaNeunIGyeoNaenDa/NanumNaNeunIGyeoNaenDa.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumNaNeunIGyeoNaenDa/NanumNaNeunIGyeoNaenDa.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumNaNeunIGyeoNaenDa/NanumNaNeunIGyeoNaenDa.ttf') format('truetype');
}